body {
  font: 15px/19px Helvetica, sans-serif;
  color: #333;
  margin: 0; padding: 0;
}

#header {
  background: url("/static/images/bg.png");
  border-bottom: 1px solid #eee;
}

p {
  margin: 0 0 1em 0;
}

#welcome {
  width: 500px;
  height: 300px;
  display: none;
}

#grid-side {
  background-color: #111;
  background: url("/static/images/bg.png");
  position: absolute;
  left: 0;
  bottom: 0;
}

/* SHADOWS */

#shadow-top, #shadow-bottom {
  position: absolute;
  left: 0;
  height: 200px;
  z-index: 10;
}
#shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0)));
}
#shadow-bottom {
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0)));
}

#shadow-left, #shadow-right {
  position: absolute;
  width: 200px;
  z-index: 10;
}
#shadow-left {
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0)));
}
#shadow-right {
  right: 250px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0)));
}



/* ROW AND COLUMN LABELS*/

#row-labels, #col-labels {
  position: absolute;
  overflow: hidden;
  z-index: 15;
  bottom: 0;
  background-color: transparent;

}
#row-labels {
  top: 0;
  width: 200px;
}
#col-labels {
  left: 0;
  height: 200px;
}

/* MOVERS */

#row-labels-mover, #col-labels-mover {
  position: absolute;
  top: 0;
  left: 0;
}
#row-labels-mover {
  width: 200px;
}
#col-labels-mover {
  height: 200px;
}


/* LABELS */

.col-label {
  height: 200px;
  position: absolute;
  text-align: center;
  vertical-align: bottom;
}

.row-label, .col-label-text {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: .9;
  text-shadow: 1px 1px black;
  border: 1px solid #555;
  padding: 5px 8px;
  border-radius: 8px;
}
.row-label {
  margin-left: 20px;
}
.col-label-text {
  display: inline-block;
  position: relative;
/*  -webkit-transform: rotate(-90deg);*/
/* -moz-transform: rotate(-90deg);*/
/* writing-mode: tb-rl;*/
  margin: 160px auto;
  
}

/* GRID */

#grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}


 



#grid-mover {
  position: absolute;
  top: 0;
  left: 0;
}

.movie {
  z-index: 1;
  position: absolute;
  text-align: center;
/*  cursor: pointer;*/
}
.movie:hover {
/*  border: 1px solid #ccc;*/
}
.movie img {
  margin: 0 auto;
}
.movie.middle {
  margin-left: -30px;
  margin-top: -30px;
  z-index: 2;
}
.movie.middle img {
  -webkit-box-shadow: 0 0 10px 5px black;
  border: 1px solid white;
}

.nav-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 200;
}
#move-left {
  background: url("/static/images/arrow-left.png");
}
#move-right {
  background: url("/static/images/arrow-right.png");
}
#move-up {
  background: url("/static/images/arrow-up.png");
}
#move-down {
  background: url("/static/images/arrow-down.png");
}




#detail-side {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 249px;
  border-left: 1px solid #555;
  background-color: #111;
  background: url("/static/images/bg.png");
  z-index: 200;
  color: white;
}
#detail-side .inner {
  margin: 20px;
}
#title {
  font-weight: bold;
  color: white;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px black;
}
#title .year {
  color: #999;
}

#rating {
  text-shadow: 1px 1px 2px black;
  letter-spacing: -.1em;
}
#rating .notfilledin {
  color: #777;
}

.trailer a {
  display: inline-block;
  border-radius: 3px;
  padding: 4px 7px 3px;
  background-color: #111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  border: 1px solid #ccc;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -1px -1px black;
  font-size: 11px;
  font-weight: bold;
}
.trailer .outer {
  display: inline-block;
  border-radius: 4px;
  border: 2px solid black;
}
.trailer a:hover {
  border: 1px solid white;
}
.trailer a:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#333), to(#111));
}

.detail-header {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 2px;
  text-shadow: 1px 1px black;
}
.middot {
  color: #555;
}

.availability {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

.availability .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.availability.out .circle {
  background-color: red;
/*  box-shadow: 0 0 3px red;*/
}
.availability.in .circle {
  background-color: green;
/*  box-shadow: 0 0 3px green;*/
}

.availability .due {
  color: #333;
}

.movie .availability {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 100%;
  text-align: left;
  display: none;
}
.movie.middle .availability {
  display: inline-block;
  left: 18px;
}
.movie .availability .circle {
  box-shadow: 0 0 3px black;
}
.movie .availability {
}

