<html>
<head>
  
  <link rel="stylesheet" href="/static/css/reset.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/boxy.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/filmgrid.css" type="text/css" charset="utf-8">
  
  <script type="text/javascript" charset="utf-8" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/jquery.boxy.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/touchswipe.jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/filmgrid.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/movies.js"></script>

  <title>Filmgrid</title>

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  
</head>

<body>
  
  <div id="welcome">Welcome!</div>
  
  <div id="header">
  </div>

  <div id="shadow-top"></div>
  <div id="shadow-bottom"></div>
  <div id="shadow-left"></div>
  <div id="shadow-right"></div>
  
  <div id="grid-side">
    <div id="move-left" class="nav-arrow"></div>
    <div id="move-right" class="nav-arrow"></div>
    <div id="move-up" class="nav-arrow"></div>
    <div id="move-down" class="nav-arrow"></div>
    <div id="row-labels">
      <div id="row-labels-mover"></div>
    </div>
    <div id="col-labels">
      <div id="col-labels-mover"></div>
    </div>
    <!-- <div id="grid-shadow"></div> -->
    <div id="grid">
      <div id="grid-mover">
        <!-- this is where all the movies go -->
      </div> 
    </div>
  </div>
  
  <div id="detail-side">
    
    <div class="inner">
              
      <div id="title"><span class="name"></span> <span class="year"></span></div>
    
      <!-- <div id="rating"><p><span class="filledin"></span><span class="notfilledin"></span></p></div> -->
    
      <div class="detail-header">Overview</div>
      <div id="info">
        <p></p>
      </div>

      <div class="detail-header">Directed by</div>
      <div id="director">
        <p></p>
      </div>
    
      <div class="detail-header">Cast</div>
      <div id="actors">
        <p></p>
      </div>
      
      <br><br>
      <!-- <div class="trailer">
        <p><span class="outer"><a href="#">Watch trailer</a></span></p>
      </div> -->
    
    </div>
    
  </div>
  
</body>
</html>