<html>
<head>
  
  <link rel="stylesheet" href="/static/css/reset.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/filmgrid.css" type="text/css" charset="utf-8">
  
  <script type="text/javascript" charset="utf-8" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/touchswipe.jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/filmgrid.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/movies.js"></script>

  <!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/> -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"/> -->
  
</head>

<body>
  
  <div id="header"></div>
  
  <div id="shadow-top"></div>
  <div id="shadow-bottom"></div>
  <div id="shadow-left"></div>
  <div id="shadow-right"></div>
  
  <div id="grid-side">
    <div id="row-labels">
      <div id="row-labels-mover"></div>
    </div>
    <div id="col-labels">
      <div id="col-labels-mover"></div>
    </div>
    <div id="grid">
      <div id="grid-mover"></div> 
    </div>
  </div>
  
  <div id="detail-side">
    
    <div class="inner">
    
      <img id="bigposter" />
    
      <div id="title"></div>
    
      <div id="info">

      </div>
    
    </div>
    
  </div>
  
</body>
</html>